---
import Button from "@/shortcodes/Button";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const call_to_action = await getEntryBySlug("sections", "call-to-action");
const { href } = Astro.url
---

{
  (call_to_action.data.enable && !href?.includes('404')) && (
    <section class="border-t border-gray dark:border-primary">
      <div class="container">
        <div class="py-16 xl:p-20">
          <div class="flex flex-col items-center justify-center text-center">
            <div class="">
              <span
                set:html={markdownify(call_to_action.data.label)}
                class="label mb-3"
              />
              <h2
                set:html={markdownify(call_to_action.data.title)}
                class="mb-6 strong-red"
              />
              {call_to_action.data.button.enable && (
                <Button label={call_to_action.data.button.label} link={call_to_action.data.button.link} style="solid"/>
              )}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
