---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "./CallToAction.astro";

const { footer }: { footer: { name: string; url: string }[] } = menu;
---

<CallToAction/>
<footer class="bg-theme-light dark:bg-darkmode-theme-light border-t border-t-border dark:border-t-primary">
  <div class="container">
    <div class="flex flex-col justify-between items-center ld:py-10 py-8 gap-6">
      <div class="flex flex-row gap-x-4 flex-wrap justify-center items-center">
        {
          footer.map((menu) => (
            <a href={menu.url} class="p-1 inline-block hover:text-secondary duration-300">
              {menu.name}
            </a>
          ))
        }
      </div>
      <Social/>
      <p set:html={markdownify(config.params.copyright)} />
    </div>
  </div>
</footer>
