---
import BlogCard from "@/components/BlogCard.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const { projects_folder } = config.settings;
const posts = await getSinglePage(projects_folder);
const sortedPosts = sortByDate(posts);
---

<div class="section">
    <div class="container">
        <h2 class="h3 mb-12 text-center">Latest Projects</h2>
        <div class="row justify-center gap-y-10">
            {
            sortedPosts?.slice(0, 2).map((post) => (
                <div class="md:basis-1/2 basis-full">
                    <BlogCard data={post} />
                </div>
            ))
            }
        </div>
    </div>
</div>