---
import BlogCard from "@/components/BlogCard.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const { projects_folder } = config.settings;
const posts = await getSinglePage(projects_folder);
const sortedPosts = sortByDate(posts);
---

<div class="section">
    <div class="container">
        <h2 class="h2 md:mb-12 mb-8 text-center">Latest <span class="text-secondary">Projects</span></h2>
        <div class="grid md:grid-cols-2 grid-col-1 justify-center gap-8">
            {
            sortedPosts?.slice(0, 2).map((post) => (
                <BlogCard data={post} />
            ))
            }
        </div>
    </div>
</div>