---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize, slugify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const { projects_folder }: { projects_folder: string } = config.settings;
const tags = await getTaxonomy(projects_folder, "tags");
const allTags = await getAllTaxonomy(projects_folder, "tags");
---

<Base title={"Tags"}>
  <PageHeader title={"Tags"} />
  <section class="section">
    <div class="container text-center">
      <ul class="flex flex-row flex-wrap justify-center items-center md:gap-5 gap-3">
        {
          tags.map((tag: any) => {
            const count = allTags.filter((c) => c === tag).length;
            return (
              <li class="inline-block">
                <a
                  href={`/tags/${slugify(tag)}`}
                  class="tag-category-big"
                >
                  {humanize(tag)}{" "}
                  <span class="count">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
