---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize, slugify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";

const { projects_folder }: { projects_folder: string } = config.settings;
const categories = await getTaxonomy(projects_folder, "categories");
const allCategories = await getAllTaxonomy(projects_folder, "categories");
---

<Base title={"Categories"}>
  <PageHeader title={"Categories"} />
  <section class="section">
    <div class="container text-center">
      <ul class="flex flex-row flex-wrap justify-center items-center md:gap-5 gap-3">
        {
          categories.map((category: string) => {
            const count = allCategories.filter((c) => c === category).length;
            return (
              <li class="inline-block">
                <a
                  href={`/categories/${slugify(category)}`}
                  class="tag-category-big"
                >
                  {humanize(category)}{" "}
                  <span class="count">
                    {count}
                  </span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </section>
</Base>
